.signup,
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form {
  width: 50%;
  height: 50vh;
  border: thin solid var(--secondary-color);
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

form > h4 {
  width: 100%;
  font-size: 1.5rem;
  height: max-content;
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}

input {
  border: thin solid black;
  width: 80%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
  height: 5vh;
  border: thin solid var(--secondary-color);
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

.submit-button {
  width: 80%;
  height: 5vh;
  background-color: var(--primary-color);
  color: white;
  border: thin solid var(--primary-color);
  border-radius: 4px;
  font-size: 1rem;
}

@media only screen and (max-width: 767px) {
  .auth-form {
    width: 70vw;
  }

  .auth-form > h4 {
  }
  .auth-form > input {
    height: 5vh;
    width: 80%;
    border: thin solid var(--secondary-color);
    border-radius: 4px;
    font-size: 1rem;
  }
}
