.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.landing-cont1 {
  width: 100%;
  border: thin solid black;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-cont1 > h4 {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.landing-cont1 > p {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: var(--secondary-color);
}

.signup-button {
  text-decoration: none;
  color: black;
  height: 5vh;
  width: 20%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
